# Virtual environments
.venv/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/

# Environment / secrets
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfplan
terraform.tfvars
.terraform.tfstate.lock.info

# Reports and test artifacts
reports/allure-results/*
reports/allure-report/
!reports/allure-results/.gitkeep

test-results/
playwright-report/
blob-report/
trace.zip

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
